.row {
  display: flex;
    padding: auto;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

body {
    color: #bdffd3;
    font-size: 30px;
    text-align: center;
    padding:0;
    margin:0;
}

* {
    padding:0;
    margin:0;
    bottom: auto;
}

html {
    background-image: linear-gradient(#3e5888, #665db9);
    height: max-content;
    border-bottom: none;
    padding:0;
    margin:0;
}

div {
    max-width: 500px;
    height: 100px;
}

p {
    text-align: left;
    font-size: 35px;
    text-decoration-color: #491217;
}

h1 {
    text-align: center;
    color: #85d2a3;
}

ul {
    list-style-type: none;
    overflow: hidden;
    display: inline-block;
    text-align: center;
}

li {
    float: contour;
    max-width: 100%;
    text-align: center;
    display: inline-block;
}

li a {
    display: block;
    color: #bdffd3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: #665db9;
}

li a:hover {
    background-color: #3e5888;
}
