.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

body {
    color: #bdffd3;
    font-size: 30px;
    text-align: center;
}

html {
    background-image: linear-gradient(#3e5888, #665db9);
    height: max-content;
}

div {
    max-width: 500px;
    height: 100px;
}

p {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    text-decoration-color: #491217;
}

p1 {
    text-align: left;
    font-size: 24px;
}

h1 {
    text-align: center;
    color: #85d2a3;
}

ul {
    list-style-type: none;
    /*margin: 0;*/
    /*padding: 0;*/
    overflow: hidden;
    /*background-color: #665db9;*/
    width: 100%;
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

li {
    float: contour;
    max-width: 100%;
    text-align: center;
}

li a {
    display: block;
    color: #c1c1c1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: #665db9;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #3e5888;
}
