body {

    font-size: 30px;
    text-align: center;
}

html {
    background-image: linear-gradient(#bdffd3, #ff7bfe);
    height: max-content;
}

div {
    max-width: 500px;
    height: 100px;
}

p {
    text-align: left;
    font-size: 26px;
    font-weight: bold;
    text-decoration-color: #491217;
}

p1 {
    text-align: left;
    font-size: 22px;
}

h1 {
    text-align: center;
}

